@{
    ViewData["Title"] = "Destinos";
}
<h1>@ViewData["Title"]</h1>

<div class="Conteiner">       
    <form style="text-align:center;background-color: rgb(43,44,145);">
        <h2 >Programe sua próxima viagem conosco!</h2>
            <label  for="cidadePartida" >Informe a cidade de partida:</label>
            <input type="text" id="cidadePartida">
                <br>
            <label  for="estadoPartida" >Qual o Estado de partida?</label>
            <input type="text" id="estadoPartida">
                <br>
            <label  for="cidadeDestino" >Para onde deseja ir?:</label>
            <input type="number" id="cidadeDestino">
                <br>
            <label  for="cidadeDestino">Estado</label>
            <input type="number" id="estadoDestino">
                <br>    
                                
            <input type="button" class="btn ntn-info" value="Enviar"<a href="../Agência de Viagens/PctPromo.html">
    </form>
 </div>

    
        
