



<div class="row">
    <div class="card col" style="width: 18rem;">
  <img class="card-img-top" src="https://a.cdn-hotels.com/gdcs/production161/d1368/6957c487-7c35-4785-a1a4-78268ab9c1c7.jpg" alt="Imagem de capa do card">
  <div class="card-body">
    <h5 class="card-title">Porto Seguro-BA</h5>
    <p class="card-text"><strike>R$690,00</strike></p>
    <p class="card-text">R$449,00</p>
    <a href="#" class="btn btn-primary">Visitar</a>
  </div>
</div>

<div class="card col" style="width: 18rem;">
  <img class="card-img-top" src="https://morrodesaopaulo.com.br/wp-content/uploads/2018/12/praias-1-galeria-morro-sao-paulo-bahia.jpg
" alt="Imagem de capa do card">
  <div class="card-body">
    <h5 class="card-title">Morro de São Paulo-BA</h5>
    <p class="card-text"><strike>R$780,00</strike></p>
     <p class="card-text">R$659,00</p>
    <a href="#" class="btn btn-primary">Visitar</a>
  </div>
</div>

<div class="card col" style="width: 18rem;">
  <img class="card-img-top" src="https://magazine.zarpo.com.br/wp-content/uploads/2021/06/capa-praia-dos-carneiros-1200x900.jpg" alt="Imagem de capa do card">
  <div class="card-body">
    <h5 class="card-title">Praia dos Carneiros-PE</h5>
    <p class="card-text"><strike>R$499,00</strike></p>
    <p class="card-text">R$439,00</p>    
    <a href="#" class="btn btn-primary">Visitar</a>
  </div>
</div>

</div>